.menu {
    display: flex;
    align-items: center;
}


.main-header a {
    display: block;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
}